/* Layout for your Home Page */

.homepage-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;;
}

.main-heading {
    color: blue;
    text-align: center;
}

.sub-heading {
    color: #333;
}

.course-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.course {
    background-color: #f9f9f9;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.course h3 {
    margin-top: 0;
}

.course p {
    margin-bottom: 0;
}
